<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Saved</title>
</head>
<body>
<a href="/">Back to Search</a>
	<h1>Your Pinned Gifs</h1>
	<p> 
	<div style='width:1200px; height:auto; overflow:auto;'>
		<% for (var i = 0; i < save_gifs.length; i++) { %>
		<img src="<%= save_gifs[i] %>"> 
		<% }; %>
		</form>
		</div>
	</p>
</body>
</html>